/* color de fuente 

fondo 

y espaciado */

body {
    background-color: antiquewhite;

    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: aqua;

}

section {
    background-color: aquamarine;
}

footer {
    background-color: bisque;
}